---
layout: default-layout.njk
title:  "Vermont Code Camp Will Return in 2022!"
meta_description: We are happy to announce the 2022 return of Vermont Code Camp!
---

<section class="main">
    <div class="section-content">

        <h1>{{title}}</h1>

        <div class="text-large">
            <div>{{config.eventDate | toLongDate}}</div>
            <div>Champlain College, Burlington, VT</div>
        </div>

        <figure class="landing-image">
            <div class="img-wrap img-wrap-bg" style="--aspect-ratio:1200/649;">
                <img src="/assets/vtcc-event-1200px-optim.jpg" width="1200"
                    alt="Opening Session talk given at Vermont Code Camp 10"/>
            </div>
        </figure>

        {% if config.meetupUrl %}
            <a href="{{config.meetupUrl}}" class="code cta">
                Meetup.SignUp<span class="text-muted" aria-hidden="true">();</span>
            </a>
        {% endif %}

        <p>We've missed seeing you these past few years and hope you haven't forgotten about the Vermont Code Camp. As you know, we've been on hiatus during the COVID pandemic. We sincerely hope you and your families have survived the last couple of years.</p>
        <p>We are happy to announce the 2022 return of Vermont Code Camp!</p>
        <p>On September 24 we will return to <a href="https://www.champlain.edu/">Champlain College</a> who has generously opened their doors to host us again.</p>
        <p>The event this year will be a slightly different format, however.</p>
        <p>One of the things that has always made Vermont Code Camp special has been the community coming together. Having the event in person has always been something we want to continue doing. It wasn’t possible to do that responsibly the last two years. In the past our event has had nearly 250 people; attending sessions together, eating together, and socializing.</p>
        <p>That size group, engaged in those activities, still doesn't seem like a good choice for where we are at this point in the COVID situation, though.</p>
        <p>Our main concern is planning an event that will be safe for our community. While we seem to be in a good spot now, COVID is still around. And the past couple of years has seen caseloads increase as summer turns to autumn. So the possibility exists that we could plan the event only to cancel it due to a change in the situation. </p>
        <p>Planning an event that is safe, and which could be canceled with a minimum of inconveniences, is the framework guiding our thinking. This has led us to propose a greatly scaled back event for 2022. </p>
        <p>For this year we think a half day event, without lunch or other food, is the way to go.</p>
        <p>Additionally, while we have been privileged to have speakers and attendees from far and wide, we believe this is a year to focus on local speakers. This decision is intended to protect people who travel from losing money from booked airfare or lodging in the event we have to cancel this event. Limiting speakers and attendees to people living in Vermont will also reduce the number of variables we organizers will need to consider about the safety of the event as the date draws near.</p>
        <p>With respect to COVID mitigation policies. As our event is a guest of Champlain College all our attendees will be subject to the COVID policies and protocols Champlain College has in place at the time of the event. Our understanding is Champlain College expects to set their policies for the fall 2022 semester in August - but the timing of the policies being published, and the policies themselves, are subject to change. We will keep our website updated with that information as it becomes available.</p>
        <p>Regardless of Champlain College’s policies, Vermont Code Camp is going to require people registering for our event to attest to being fully vaccinated and attendees will be required to provide proof of vaccination when they check in. We’re recommending people wear masks indoors, but will not be requiring them unless Champlain College’s policies do. We know some people will feel we’re being overly cautious. However, our community is what makes Vermont Code Camp special and we want to do everything we can to keep that community in good health. Trying to plan an event months in advance has always been a moving target, but never more so than now.</p>
        <p>We recognize the change in format and the COVID precautions will likely deter some people from attending. We look forward to seeing everyone under less restrictive circumstances in future years. Our goal is for VTCC to get back to the event you know and love in the coming years. But for 2022 the event we're proposing feels right to us.</p>
        <p>
            So we hope you’ll join us for the 2022 Vermont Code Camp on September 24!
        </p>
        <p>
            Sincerely,<br>
            Your Code Camp Coordinators,<br>
            Julie Lerman and Rob Hale
        </p>



    </div>
</section>

<section class="sponsors">

    <div class="section-content">
        <h2 id="Sponsors">
            Sponsors
            <a class="direct-link" href="#Sponsors" aria-hidden="true">#</a>
        </h2>
    </div>

    {% include "sponsor-logos.njk" %}

</section>

<section class="past-years">
    <div class="section-content">

    <h2 id="Past-Years">
        Past Years
        <a class="direct-link" href="#Past-Years" aria-hidden="true">#</a>
    </h2>
    <ul>
        <li><a href="https://2019.vtcodecamp.org">2019</a></li>
        <li><a href="https://2018.vtcodecamp.org">2018</a></li>
        <li><a href="https://2017.vtcodecamp.org">2017</a></li>
        <li><a href="https://2016.vtcodecamp.org">2016</a></li>
        <li><a href="https://2015.vtcodecamp.org">2015</a></li>
        <li><a href="https://2014.vtcodecamp.org">2014</a></li>
        <li><a href="https://2013.vtcodecamp.org">2013</a></li>
        <li><a href="https://2012.vtcodecamp.org">2012</a></li>
        <li><a href="https://2011.vtcodecamp.org/schedule">2011</a></li>
        <li><a href="https://2010.vtcodecamp.org/schedule">2010</a></li>
    </ul>

    </div>
</section>


<section class="social">
    <div class="section-content">

        <h2 id="Social">
            Social
            <a class="direct-link" href="#Social" aria-hidden="true">#</a>
        </h2>
        <p>Follow <a href="https://twitter.com/VTCodeCamp">@VTCodeCamp</a> for event updates.</p>
        <p>Use the hashtag <a href="https://twitter.com/hashtag/VTCC11">#VTCC12</a> when posting about the event.</p>

    </div>
    <div class="section-content section-content-wide">

        {% include "embedded-tweets.njk" %}

    </div>
</section>
