---
layout: default-layout.njk
title:  "Vermont Code Camp on Hiatus in 2022"
meta_description: We're temporarily on hold due to COVID, but are optimistic about 2023!
---

<section class="main">
    <div class="section-content">

        <h1>{{title}}</h1>

        {#
        <div class="text-large">
            <div>{{config.eventDate | toLongDate}}</div>
            <div>Champlain College, Burlington, VT</div>
        </div>
        #}
        
        <figure class="landing-image">
            <div class="img-wrap img-wrap-bg" style="--aspect-ratio:1200/649;">
                <img src="/assets/vtcc-event-1200px-optim.jpg" width="1200"
                    alt="Opening Session talk given at Vermont Code Camp 10"/>
            </div>
        </figure>

        {% if config.meetupUrl %}
            <a href="{{config.meetupUrl}}" class="code cta">
                Meetup.SignUp<span class="text-muted" aria-hidden="true">();</span>
            </a>
        {% endif %}

        <p>
        We're disappointed to announce the cancellation of the 2022 Vermont Code Camp. With less than a month to go we haven't had enough registrations to justify the time and expense that goes into putting on the event.
        </p>
        <p>
        Thank you to <a href="https://www.champlain.edu/">Champlain College</a> for being willing to host us this year. Thanks also to the speakers who were willing to share their time and talents. Without their commitment to the Vermont development community we wouldn't have gotten this close to resuming Vermont Code Camp.
        </p>
        <p>
        We hope to return in 2023.
        </p>
       
        <p>
            Sincerely,<br>
            Your Code Camp Coordinators,<br>
            Julie Lerman and Rob Hale
        </p>



    </div>
</section>

<section class="sponsors">

    <div class="section-content">
        <h2 id="Sponsors">
            Sponsors
            <a class="direct-link" href="#Sponsors" aria-hidden="true">#</a>
        </h2>
    </div>

    {% include "sponsor-logos.njk" %}

</section>

<section class="past-years">
    <div class="section-content">

    <h2 id="Past-Years">
        Past Years
        <a class="direct-link" href="#Past-Years" aria-hidden="true">#</a>
    </h2>
    <ul>
        <li><a href="https://2019.vtcodecamp.org">2019</a></li>
        <li><a href="https://2018.vtcodecamp.org">2018</a></li>
        <li><a href="https://2017.vtcodecamp.org">2017</a></li>
        <li><a href="https://2016.vtcodecamp.org">2016</a></li>
        <li><a href="https://2015.vtcodecamp.org">2015</a></li>
        <li><a href="https://2014.vtcodecamp.org">2014</a></li>
        <li><a href="https://2013.vtcodecamp.org">2013</a></li>
        <li><a href="https://2012.vtcodecamp.org">2012</a></li>
        <li><a href="https://2011.vtcodecamp.org/schedule">2011</a></li>
        <li><a href="https://2010.vtcodecamp.org/schedule">2010</a></li>
    </ul>

    </div>
</section>


<section class="social">
    <div class="section-content">

        <h2 id="Social">
            Social
            <a class="direct-link" href="#Social" aria-hidden="true">#</a>
        </h2>
        <p>Follow <a href="https://twitter.com/VTCodeCamp">@VTCodeCamp</a> for event updates.</p>
        <p>Use the hashtag <a href="https://twitter.com/hashtag/VTCC11">#VTCC12</a> when posting about the event.</p>

    </div>
    <div class="section-content section-content-wide">

        {% include "embedded-tweets.njk" %}

    </div>
</section>
