---
layout: default-layout.njk
title:  "Vermont Code Camp On Hiatus For 2021"
meta_description: Vermont Code Camp is going to be on hiatus for 2021. 
                  While disappointing, we believe it is the responsible thing to do. 
---

<section class="main">
    <div class="section-content">

        <h1>{{title}}</h1>

        <figure class="landing-image">
            <div class="img-wrap img-wrap-bg" style="--aspect-ratio:1200/649;">
                <img src="/assets/vtcc-event-1200px-optim.jpg" width="1200"
                    alt="Opening Session talk given at Vermont Code Camp 10"/>
            </div>
        </figure>

        {% if config.meetupUrl %}
            <a href="{{config.meetupUrl}}" class="code cta">
                Meetup.SignUp<span class="text-muted" aria-hidden="true">();</span>
            </a>
        {% endif %}

        <p>
            Vermont Code Camp is going to remain on hiatus for 2021. While disappointing, we believe 
            it is the responsible thing to do. Several factors have contributed to this decision but 
            at the end of the day we don't believe we can present our event and keep our community safe.
            We briefly considered hosting a virtual event - but decided so many conferences and events 
            are also going virtual the need isn't really there.
        </p>
        <p>
            We are optimistic about a 2022 return of Vermont Code Camp and hope you will join us
            then. Until that time, please be well and stay healthy.
        </p>
        <p>Sincerely,</p>
        <p>Julie Lerman and Rob Hale</p>

    </div>
</section>

<section class="sponsors">
    
    <div class="section-content">
        <h2 id="Sponsors">
            Sponsors
            <a class="direct-link" href="#Sponsors" aria-hidden="true">#</a>
        </h2>
    </div>

    {% include "sponsor-logos.njk" %}

</section>

<section class="past-years">
    <div class="section-content">

    <h2 id="Past-Years">
        Past Years
        <a class="direct-link" href="#Past-Years" aria-hidden="true">#</a>
    </h2>
    <ul>
        <li><a href="https://2019.vtcodecamp.org">2019</a></li>
        <li><a href="https://2018.vtcodecamp.org">2018</a></li>
        <li><a href="https://2017.vtcodecamp.org">2017</a></li>
        <li><a href="https://2016.vtcodecamp.org">2016</a></li>
        <li><a href="https://2015.vtcodecamp.org">2015</a></li>
        <li><a href="https://2014.vtcodecamp.org">2014</a></li>
        <li><a href="https://2013.vtcodecamp.org">2013</a></li>
        <li><a href="https://2012.vtcodecamp.org">2012</a></li>
        <li><a href="https://2011.vtcodecamp.org/schedule">2011</a></li>
        <li><a href="https://2010.vtcodecamp.org/schedule">2010</a></li>
    </ul>

    </div>
</section>


<section class="social">
    <div class="section-content">

        <h2 id="Social">
            Social
            <a class="direct-link" href="#Social" aria-hidden="true">#</a>
        </h2>
        <p>Follow <a href="https://twitter.com/VTCodeCamp">@VTCodeCamp</a> for event updates.</p>
        <p>Use the hashtag <a href="https://twitter.com/hashtag/VTCC11">#VTCC12</a> when posting about the event.</p>

    </div>
    <div class="section-content section-content-wide">

        {% include "embedded-tweets.njk" %}

    </div>
</section>
